<footer class="bg-black py-max">
    <div class="container px-5">
        <div class="row d-flex flex-md-row flex-column">
            <div class="col-md-6 my-mb-40">
                <img class="footer-img mb-md-5" src="../assets/images/logo-white.svg" alt="zobaa">
                <ul class="list-unstyled d-flex flex-md-row flex-column">
                    <li>
                        <a href="#" class="body text-white me-md-5 mb-md-0 mb-3">關於我們</a>
                    </li>
                    <li>
                        <a href="#" class="body text-white me-md-5 mb-md-0 mb-3">隱私權政策</a>
                    </li>
                    <li>
                        <a href="#" class="body text-white me-md-5 mb-md-0 mb-3">常見問題</a>
                    </li>
                    <li>
                        <a href="#" class="body text-white">使用者條款</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-md-end text-start py-75">
                <div class="d-flex justify-content-end mb-3">
                    <a class="rounded-pill border" href="#">
                        <img class="img-fluid" src="../assets/images/btn_line.svg" alt="Line">
                    </a>
                    <a class="rounded-pill border" href="#">
                        <img class="img-fluid" src="../assets/images/btn_yt.svg" alt="Youtube">
                    </a>
                    <a class="rounded-pill border" href="#">
                        <img class="img-fluid" src="../assets/images/btn_fb.svg" alt="Facebook">
                    </a>
                </div>
                <p class="text-white w-100">copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>