<nav class="navbar sticky-top">
        <div class="container">
            <div class="d-flex align-items-center w-100">
                <h1 class="fs-0">
                    <a class="navbar-brand" href="index.html">
                        <img class="img-fluid" src="../assets/images/logo.svg" alt="ZOBAA!">
                    </a>
                </h1>
                <form class="position-relative ms-4 d-none d-lg-block">
                    <span class="material-symbols-outlined align-bottom position-absolute top-50 start-0 translate-middle-y ps-3 text-neutral-60">search</span>
                    <input type="search" class="form-control rounded-3 ps-8" placeholder="搜尋景點、地點或城市">
                </form>
                <ul class="list-unstyled d-flex align-items-center mb-0 ms-auto">
                    <li>
                        <button type="button" class="p-2 d-lg-none">
                            <span class="material-symbols-outlined">search</span>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="px-3 py-2 ">
                            <span class="material-symbols-outlined">shopping_cart</span>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="p-2 d-lg-none">
                            <span class="material-symbols-outlined">menu</span>
                        </button>
                    </li>
                    <li>
                        <a class="btn btn-primary" href="login.html">登入 / 註冊</a>
                    </li>
                    <li>
                        <a class="member d-none align-items-center ms-4" href="">
                            <div class="avatar">
                                <img class="img-fluid rounded-circle" src="../assets/images/member/avatar-1.jpg" alt="avatar">
                            </div>
                            <span class="text-primary fw-bold ms-2">Jessica</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>