<!-- Modal -->
	<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content shadow">
				<div class="modal-header">
					<h4 class="modal-title h5 fw-medium" id="passwordModalLabel">更新密碼</h4>
					 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span class="material-symbols-outlined fs-4">
							close
						</span>
					 </button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-floating mb-6">
							<input type="password" class="form-control" id="password" placeholder="新密碼" value="">
							<label for="password">新密碼</label>
						</div>
						<div class="form-floating">
							<input type="password" class="form-control" id="passwordAgain" placeholder="再次密碼" value="">
							<label for="passwordAgain">再次密碼</label>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-dark pe-3" data-bs-dismiss="modal">更新密碼<span class="material-symbols-outlined align-bottom fs-5 ms-1">chevron_right</span>
					</button>
				</div>
			</div>
		</div>
	</div>