footer {
    .nav-link {
        padding: 0;
        color: $white;
    }

    .copyright ul {
        justify-content: end;
    }

    @include media-breakpoint-down(lg) {
        .menu, .copyright {
            width: 100%;
        }
        .copyright ul {
            justify-content: start;
        }
    }

    @include media-breakpoint-down(sm) {
        .navbar-brand {
            max-width: 192px;
        }
    }
}