.box {
    height: 200px;
    width: 200px;
}

.bg-primary-120 {
    background-color: darken($primary, 20%);
}

.bg-primary {
    background-color: $primary;
}

.index-contwiner {
    padding: 120px 0px;
}

.hero {
    background:url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/user/hero.png?raw=true');
    background-repeat:no-repeat;
    background-position: center center;
    height: 480px;
    background-size: cover; /* 延展背景並維持比例 */
}

.bg-line {
    height: 878px;
}

.change-hero{
    right:32px;
    bottom:32px;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid $primary;
}
.circle {
    width: 40px;
    height: 40px;
    background-color: $primary; /* 背景顏色 */
    border-radius: 50%;        /* 關鍵：讓方形變成圓形 */
}

.avatar-div{
    bottom:-25%;
    left: 45%;
}
.avatar-edit{
    right: 5%;
    bottom:25%;
}

.rounded-pill{
    border-radius: 24px;
}
.p-1-btn:hover{
    color: white;
    background-color:$primary;
}
.s_mb-75{
    margin-bottom: $spacer*0.75;
}

@media(max-width:576px){
    .hero {
        height: 200px;
    }
    .avatar-div {
        bottom:-65%;
        left: 30%;
    }
    .mb-80 {
        margin-bottom: 40px;
    }
    .edit-btn a p {
        width: 50%;
        padding-left: 32px;
        padding-right: 32px;
    }
    .under-btn {
        width: 100%;
    }
    .s_mb-75 {
        margin-bottom: 40px;
    }
}