<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>個人資訊 - ZOBAA!</title>
	<link rel="icon" href="../assets/images/favicon.ico">
</head>
<body class="bg-neutral-15">
	<%- include('./layout/header'); -%>

	<section class="member py-8 py-lg-lg">
		<div class="container">
			<div class="position-relative mb-8 mb-md-12 pb-md pb-md-xl">
				<img class="img-fluid rounded-5" src="../assets/images/member/hero.png" alt="banner">
				<div class="position-absolute bottom-0 end-0 me-7 mb-xl pb-7 d-none d-md-block">
					<p class="text-white d-flex align-items-center"><span class="material-icons-sharp me-2">edit</span>更換封面</p>
				</div>
				<div class="position-absolute bottom-0 start-50 translate-middle-x">
					<div class="avatar position-relative start-50 translate-middle-x rounded-pill text-center mb-2">
						<img class="rounded-pill mb-2" src="../assets/images/member/avatar-1.jpg" alt="avatar">
						<div class="position-absolute bottom-0 end-0 bg-primary rounded-pill p-2 fs-0">
							<span class="material-icons-sharp text-white">edit</span>
						</div>
					</div>
					<h3 class="h5 text-primary text-center mb-1">Jessica Yen</h3>
					<p class="text-neutral-80 fs-subtitle fs-md-title">jessica.yen@gmail.com</p>
				</div>
			</div>

			<ul class="member-list list-unstyled bg-white d-flex rounded-5 shadow px-3 mb-6">
				<li class="col px-3 py-4">
					<a class="d-block py-3 border-end active" href="">
						<span class="fw-bold">我的帳號</span>
					</a>
				</li>
				<li class="col px-3 py-4">
					<a class="d-block py-3 border-end" href="">
						<span class="fw-bold ">訂單管理</span>
					</a>
				</li>
				<li class="col px-3 py-4">
					<a class="d-block py-3" href="">
						<span class="fw-bold">我的收藏</span>
					</a>
				</li>
			</ul>

			<div class="bg-white rounded-5 shadow p-4 p-md-7">
				<h2 class="fw-bold mt-4 mt-md-7 mb-8">我的帳號</h2>
				<ul class="nav border-bottom column-gap-7 mb-6" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<button type="button" class="nav-link active" id="personal-tab" data-bs-toggle="pill" data-bs-target="#personal" role="tab" aria-controls="personal" aria-selected="true">
							個人資訊
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button type="button" class="nav-link" id="other-tab" data-bs-toggle="pill" data-bs-target="#other" role="tab" aria-controls="other" aria-selected="false">
							常用旅客
						</button>
					</li>
				</ul>

				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade active show" id="personal" role="tabpanel" aria-labelledby="personal-tab">

						<div class="mb-6">
							<p class="text-neutral-80 mb-2 fs-subtitle fs-md-title">姓名</p>
							<p class="h6">Jessica Yen</p>
						</div>
						<div class="mb-6">
							<p class="text-neutral-80 mb-2 fs-subtitle fs-md-title">電子信箱</p>
							<p class="h6">jessica.yen@gmail.com</p>
						</div>
						<div class="mb-6">
							<p class="text-neutral-80 mb-2 fs-subtitle fs-md-title">密碼</p>
							<p class="h6">************</p>
						</div>
						<div class="mb-6">
							<p class="text-neutral-80 mb-2 fs-subtitle fs-md-title">聯絡電話</p>
							<p class="h6">+886 912-345-678</p>
						</div>
						<div class="mb-6">
							<p class="text-neutral-80 mb-2 fs-subtitle fs-md-title">地址</p>
							<p class="h6">台北市士林區幸福路193號5樓之1</p>
						</div>
						<div class="mb-8">
							<p class="text-neutral-80 mb-2 fs-subtitle fs-md-title">生日</p>
							<p class="h6">1995-09-20</p>
						</div>

						<button type="button" class="btn btn-outline-primary d-flex align-items-center fs-title ms-auto">
							<span class="material-icons-sharp me-1">edit</span>編輯資訊
						</button>

					</div>

					<div class="tab-pane" id="other" role="tabpanel" aria-labelledby="other-tab">

						<div class="border rounded-4 p-4 p-md-6 mb-6 mb-md-3">
							<div class="avatar d-flex align-items-center w-100">
								<img class="rounded-pill me-2" src="../assets/images/member/avatar-1.jpg" alt="avatar">
								<p class="h6">Jessica Yen</p>
							</div>
						</div>

						<div class="d-flex flex-wrap justify-content-between align-items-center border rounded-4 bg-primary-10 p-4 p-md-6 mb-8">

							<div class="avatar d-flex me-2">
								<img class="rounded-pill mb-2" src="../assets/images/member/avatar-2.jpg" alt="avatar">
							</div>

							<div class="me-auto">
								<p class="h6 mb-2">Jenny Lin</p>
								<p class="text-primary d-flex align-items-center mb-1 d-none d-md-block">
									<span class="material-icons-outlined fs-title me-2">mail</span>Jenny.Linnn@gmail.com
								</p>
								<p class="text-primary d-flex align-items-center d-none d-md-block">
									<span class="material-icons-outlined fs-title me-2">cake</span>2001.01.30
								</p>
							</div>

							<div class="d-flex column-gap-2 mt-4 mt-md-0 mx-auto me-md-0">
								<button type="button" class="btn btn-outline-primary d-flex align-items-center px-6 px-md-7 mt-0">
									<span class="material-icons-sharp me-1">edit</span>編輯資訊
								</button>
								<button type="button" class="btn btn-outline-primary d-flex align-items-center px-6 px-md-7 mt-0">
									<span class="material-icons-sharp me-1">close</span>刪除
								</button>
							</div>
							
						</div>

						<button type="button" class="btn btn-outline-primary d-flex align-items-center fs-title ms-auto">
							<span class="material-icons-sharp me-1">add</span>新增常用旅客
						</button>

					</div>
				</div>
			</div>

		</div>
	</section>
	<%- include('./layout/footer'); -%>

	<script type="module" src="../main.js"></script>
</body>
</html>