<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>會員登入 - ZOBAA!</title>
	<link rel="icon" href="../assets/images/favicon.ico">
</head>
<body>
	<%- include('./layout/header'); -%>

	<section class="login-container bg-white p-8">
		<div class="d-flex align-items-center">
			<div class="swiper loginBanner d-none d-xl-block">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img class="img-fluid" src="../assets/images/login/cover-1.png" alt="ZOBAA">
					</div>
					<div class="swiper-slide">
						<img class="img-fluid" src="../assets/images/login/cover-2.png" alt="ZOBAA">
					</div>
					<div class="swiper-slide">
						<img class="img-fluid" src="../assets/images/login/cover-3.png" alt="ZOBAA">
					</div>
				</div>
			</div>
			<div class="container px-5">
				<div class="row justify-content-center">
					<div class="col-xxl-6">
						<h2 class="h1 mb-8">歡迎回來！</h2>

						<ul class="list-unstyled d-flex flex-column row-gap-4 mb-9">
							<li>
								<button class="border p-4 bg-white rounded-4 w-100 d-flex" type="button">
									<img src="../assets/images/login/icon_google.svg" alt="google">
									<span class="w-100 text-centerw-100 ">使用 Google 帳號登入</span>
								</button>
							</li>
							<li>
								<button class="border p-4 bg-white rounded-4 w-100 d-flex" type="button">
									<img src="../assets/images/login/icon_facebook.svg" alt="facebook">
									<span class="w-100 text-center">使用 Facebook 帳號登入</span>
								</button>
							</li>
							<li>
								<button class="border p-4 bg-white rounded-4 w-100 d-flex" type="button">
									<img src="../assets/images/login/icon_apple.svg" alt="apple">
									<span class="w-100 text-center">使用 Apple 帳號登入</span>
								</button>
							</li>
						</ul>

						<h3 class="fs-title mb-4">或使用 ZOBAA 帳號登入</h3>

						<div class="mb-4">
							<label for="" class="form-label">電子信箱<span class="ms-25 text-danger">*</span></label>
							<input type="email" class="form-control" name="" id="" aria-describedby="helpId" placeholder="請輸入電子信箱">
						</div>

						<div class="mb-4">
							<label for="" class="form-label">密碼<span class="ms-25 text-danger">*</span></label>
							<input type="password" class="form-control" name="" id="" aria-describedby="helpId" placeholder="請輸入密碼">
						</div>

						<div class="d-flex justify-content-between mb-125">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="" />
								<label class="form-check-label body" for=""> 記住帳號</label>
							</div>
							<a href="#" class="body">忘記密碼？</a>
						</div>

						<a name="" id="" class="btn py-1 text-center w-100 login-btn2 py-3 mb-125" href="#" role="button">立即登入</a>

						<div class="d-flex mb-3">
							<p class="body">沒有 ZOBAA 帳號嗎？</p>
							<a href="register.html" class="text-primary login-btn3 text-decoration-underline">立即註冊</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include('./layout/footer'); -%>

	<%- include('./layout/modal'); -%>

	<script type="module" src="../main.js"></script>
</body>
</html>