<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>會員註冊 - ZOBAA!</title>
	<link rel="icon" href="../assets/images/favicon.ico">
</head>
<body>
	<%- include('./layout/header'); -%>

	<section class="px-6 py-xs p-xxl-8 pe-xxl-0">
		<div class="d-flex align-items-center">
			<div class="swiper loginBanner d-none d-xxl-block">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img class="img-fluid" src="../assets/images/login/cover-1.png" alt="ZOBAA">
					</div>
					<div class="swiper-slide">
						<img class="img-fluid" src="../assets/images/login/cover-2.png" alt="ZOBAA">
					</div>
					<div class="swiper-slide">
						<img class="img-fluid" src="../assets/images/login/cover-3.png" alt="ZOBAA">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="login mx-auto">
					<h2 class="fs-3 fs-md-1 mb-6 mb-md-8">歡迎加入 ZOBAA</h2>

					<ul class="list-unstyled d-flex flex-column row-gap-2 row-gap-md-4 mb-6 mb-md-8">
						<li>
							<button class="border rounded-3 w-100 d-flex p-4 pe-7" type="button">
								<img src="../assets/images/login/icon_google.svg" alt="google">
								<span class="font-family-poppins text-neutral-80 w-100 text-center">使用 Google 帳號登入</span>
							</button>
						</li>
						<li>
							<button class="border rounded-3 w-100 d-flex p-4 pe-7" type="button">
								<img src="../assets/images/login/icon_facebook.svg" alt="facebook">
								<span class="font-family-poppins text-neutral-80 w-100 text-center">使用 Facebook 帳號登入</span>
							</button>
						</li>
						<li>
							<button class="border rounded-3 w-100 d-flex p-4 pe-7" type="button">
								<img src="../assets/images/login/icon_apple.svg" alt="apple">
								<span class="font-family-poppins text-neutral-80 w-100 text-center">使用 Apple 帳號登入</span>
							</button>
						</li>
					</ul>

					<h3 class="fs-title mb-4">或使用 ZOBAA 帳號註冊</h3>

					<div class="mb-4">
						<label for="email" class="form-label text-neutral-80">電子信箱<span class="text-danger ms-1">*</span></label>
						<input type="email" class="form-control" id="email" placeholder="請輸入電子信箱">
					</div>
					<div class="mb-4">
						<label for="password" class="form-label text-neutral-80">密碼<span class="text-danger ms-1">*</span></label>
						<input type="password" class="form-control" id="password" placeholder="請輸入密碼">
					</div>
                    <div class="mb-6 mb-md-8">
						<label for="confirmPassword" class="form-label text-neutral-80">確認密碼<span class="text-danger ms-1">*</span></label>
						<input type="password" class="form-control" id="confirmPassword" placeholder="請再輸入一次密碼">
					</div>

					<a href="" class="btn btn-primary w-100 mb-4" disabled>立即註冊</a>
                    <p class="text-neutral-80 fs-subtitle mb-6 mb-md-8">建立帳號即表示您同意我們的 <a href="">服務條款</a> 及 <a href="">隱私權政策</a></p>

					<div class="d-flex mb-4">
						<span class="text-neutral-80 me-2">已經有 ZOBAA 帳號了嗎？</span>
						<a href="login.html" class="link-primary fw-semibold">立即登入</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include('./layout/footer'); -%>

	<script type="module" src="../main.js"></script>
</body>
</html>